<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer> </script>
    <title>Document</title>
</head>

<body>

    <div id="app">

        <div id="content-container">
            <header>
                <div id="header-div" @click="getRecepies(this.input)">
                    <h1>Dinner planing</h1>

                </div>
            </header>

            <nav id="nav-container">

                <form @submit.prevent="usersubmit()" id="user-input">

                    <input type="text" class="inputBox" placeholder="Search recepie or ingredient">
                    <button type="submit" id="submit-button">Search</button>

                </form>

                <div>
                    <button class="buttons" type="button" @click="showFavories()">Show favorites
                        {{favoriteRecepies.length}}</button>
                    <button class="buttons" type="button" @click="showShoppingList()">Shopping list</button>

                </div>

            </nav>

            <main id="main-content">

                <div :class="contentVisability" v-if="showRecepies" v-for="(recepie, index) in result"
                    :key="recepie.id">

                    <div :class="selectedClasses">

                        <h2 id="recepie-title">{{recepie.label}}</h2>
                        <p class="calories-paragraph">{{recepie.calories}} Kcal</p>
                        <img :src="recepie.img" alt="">

                        <div>
                            <button id="save-button" class="buttons" type="button"
                                @click="saveRecepie(recepie)">Save</button>
                            <button class="buttons" type="button" @click="removeRecepie(index)">Remove</button>
                        </div>
                    </div>

                </div>

                <div v-if="showFavorites" :class="contentVisability" v-for="(favorite, index) in favoriteRecepies"
                    :key="favorite.id">

                    <div id="favoriteRecipe" :class="selectedClasses">

                        <h2 id="recepie-title">{{favorite.label}}</h2>
                        <p class="calories-paragraph">{{favorite.calories}} Kcal</p>
                        <img :src="favorite.img" alt="">

                        <button class="buttons" type="button" :class="{ buttonIsActive: favorite.showIngredients }"
                            @click="favorite.showIngredients = !favorite.showIngredients">Ingredients</button>

                        <button class="buttons" type="button" @click="removeFavorite(index)">Delete</button>
                        
                        <button class="buttons" type="button"
                        @click="drawDiagram(favorite)">health</button>

                            <canvas: id="newCanvas" width="350" height="100"></canvas>

                        <button class="buttons" type="button" @click="AddtoShoppingList(favorite)">Add to
                            shoppinglist</button>

                        <ul v-if="favorite.showIngredients">
                            <h3 id="ingredient-title">Ingredients</h3>
                            <li v-for="(ingredient, index) in favorite.ingredients" :key="index">{{ingredient.text}}
                            </li>
                        </ul>

                    </div>

                </div>

                <div id="shoppingList-div" :class="showlistClass">
                    <ul id="shopping-list">
                        <li v-if="showUserShoppingList" v-for="(ingredient) in filteredShoppingDictionary ">
                            {{ ingredient.quantity }} {{ ingredient.measure }} {{ ingredient.name }}</li>
                    </ul>
                </div>

            </main>

            <footer></footer>
        </div>

    </div>

</body>

</html>