<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="https://kit.fontawesome.com/f62cabe7aa.js" crossorigin="anonymous"></script> -->
    <script src="main.js" defer> </script>
    <title>Document</title>
</head>

<body>

    <div id="app">

        <div id="content-container">
            <header>
                <div id="header-div">
                    <h1>Dinner planing</h1>
                    <!-- <p class="paragraph">"A RECIPE IS A STORY THAT ENDS WITH A GOOD MEAL"</p> -->
                </div>
            </header>

            <nav id="nav-container">



                <!-- <h1 id="nav-title">Search recepie</h1> -->

                <form @submit.prevent="usersubmit" id="user-input">

                    <input type="text" class="inputBox" placeholder="Search recepie or ingredient">
                    <button type="submit" id="submit-button">Search</button>

                </form>



                <div>
                    <button class="buttons" type="button" @click="showFavories()">Show favorites</button>
                    <button class="buttons" type="button" @click="showUserShoppingList = !showUserShoppingList">Shopping
                        list</button>
                    <button class="buttons" type="button" @click="showFavories(favoriteRecepies)">Saved recepies:
                        {{favoriteRecepies.length}}</button>

                </div>

            </nav>

            <main id="main-content">


                <div :class="recepieClasses" v-for="(recepie, index) in result" :key="recepie.id"
                    :class="{selected: index === selectedIndex}">

                    <div :class="selectedClasses">

                        <h2 id="recepie-title">{{recepie.label}}</h2>
                        <p class="calories-paragraph">{{recepie.calories}} Kcal</p>
                        <img :src="recepie.img" alt="">

                        <div>

                            <button class="buttons" type="button" @click="saveRecepie(recepie)">Save</button>

                            <button class="buttons" type="button" @click="removeRecepie(index)">Remove</button>
                        </div>


                    </div>


                </div>

                <div v-if="showFavories" :class="recepieClasses" v-for="(favorite, index) in favoriteRecepies"
                    :key="favorite.id">

                    <div :class="selectedClasses">

                        <h2 id="recepie-title">{{favorite.label}}</h2>
                        <p class="calories-paragraph">{{favorite.calories}} Kcal</p>
                        <img :src="favorite.img" alt="">


                        <button class="buttons" type="button" :class="{ buttongreen: favorite.showIngredients }"
                            @click="favorite.showIngredients = !favorite.showIngredients">Ingredients</button>
                        <button class="buttons" type="button" @click="removeFavorite(index)">Delete favorite</button>
                        <button class="buttons" type="button" @click="AddtoShoppingList(favorite)">Add to
                            shoppinglist</button>
                        <ul v-if="favorite.showIngredients">
                            <h3 id="ingredient-title">Ingredients</h3>
                            <li v-for="(ingredient, index) in favorite.ingredients" :key="index">{{ingredient.text}}
                            </li>
                        </ul>

                    </div>

                </div>

              
                        <ul v-if="showUserShoppingList" :class="recepieClasses"
                        v-for="(quantity, ingredient) in filteredShoppingDictionary ">
                            <li>{{quantity}} {{ingredient}}</li>
                        </ul>

                    

              

            </main>

            <footer>footer</footer>
        </div>

    </div>

</body>

</html>